@import '@/scss/abstracts';
@import '@/scss/base';

.imi-card-with-image-content-component {
    flex: 1 0 21%; 
    height: auto;

    .card-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-container {
            height: 15.625rem;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
            }
        }

        .card-content-container {
            flex: 1;
            padding: 1.875rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .card-title {
                line-height: 1.5rem;
                font-weight: 700;
                color: $gray;
            }

            .card-desc {
                font-size: 1rem;
                line-height: 1.375rem;
                font-family: $font-secondary;
                letter-spacing: 0.05rem;
                color: $gray-600;
                margin: 1.25rem 0 1.875rem;
            }
        }
    }
}