@import '@/scss/abstracts';
@import '@/scss/base';

#health-hub-page {
    .health-hub-page-desc-section {
        background-color: $white;

        .tab-container {
            margin-top: 3.75rem;
            display: flex;
            flex-direction: column;

            .imi-tab-component {
                margin-bottom: 2.5rem;
            }

            .control-container {
                align-self: flex-end;
                width: fit-content;
                margin: 0;
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                z-index: 2;
                margin-bottom: 1.25rem;
            }
    
            .health-hub-card-grid-container {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.25rem;
                opacity: 1;
                transition: all 0.5s ease-out;
    
                &.mod__in-transition {
                    opacity: 0;
                }

                .imi-card-with-image-content-component {
                    &:hover {
                        cursor: pointer;

                        .card-content-container {
                            background-color: $gray-100;
                        }
                    }
                }
            }
        }
    }
}