@import '@/scss/abstracts';
@import '@/scss/base';

#health-condition-page {
    position: relative;

    .health-content-section {
        position: relative;

        .imi-section-header-component {
            text-align: left;
        }

        .content-row {
            width: 100%;
            display: flex;
            gap: 3.125rem;

            .condition-column {
                position: relative;
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                height: fit-content;

                .filter-list-container {
                    position: relative;
                    // width: 100%;
                    box-shadow: 0 0 0.375rem $shadow;
                    background-color: $white;
                    border-radius: 1.25rem;
                    padding: 2.5rem;
                    display: flex;
                    flex-direction: column;
                    height: fit-content;
    
                    .filter-container {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow: visible;
    
                        &:not(:last-child) {
                            margin-bottom: 1.875rem;
                        }
    
                        .header-container {
                            width: 100%;
                            transition: all 0.5s ease;
                            min-height: 1.5rem;
    
                            &.mod__is-expanded {
                                min-height: 2.25rem;
                            }
    
                            .dropdown-btn {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-start;
                                cursor: auto;
                                
                                &.mod__collapsible {
                                    cursor: pointer;
                                }
                            }
    
                            span {
                                line-height: 1.5rem;
                                font-weight: 700;
                                color: $gray;
                                text-align: left;
                            }
    
                            .dropdown-icon {
                                width: 1.125rem;
                                aspect-ratio: 1/1;
                                transition: all 0.5s ease;
    
                                &.mod__is-expanded {
                                    transform: rotate(3.142rad);
                                }
    
                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
    
                        .filter-content-container {
                            width: 100%;
                            max-height: 0;
                            transition: all 0.5s ease;
                            overflow: visible;
                            opacity: 0;
                            pointer-events: none;
    
                            &.mod__is-expanded{
                                max-height: 50rem;
                                opacity: 1;
                                pointer-events: all;
                            }
                        }
    
                        .imi-check-box-component {
                            p {
                                color: $gray;
                            }
                        }
    
                        &.conditions-filter {
                            .imi-btn-component {
                                padding: 0.375rem 0.75rem;
                                border: 0.0625rem solid $gray-400;
                                border-radius: 9999rem;
                                background-color: $white;
                                margin-top: -0.5rem;
    
                                &:hover {
                                    background-color: $gray-600;
                                    transition: all 0.2s ease;
    
                                    .imi-btn-desc {
                                        color: $white;
                                        transition: all 0.2s ease;
                                    }
                                }
    
                                .imi-btn-desc {
                                    font-size: 0.875rem;
                                    line-height: 1.5rem;
                                    letter-spacing: 0.04375rem;
                                    color: $gray-600;
                                    font-weight: 400;
                                }
                            }
    
                            .condition-grid-container {
                                width: calc(100% + 2.5rem);
                                display: grid;
                                gap: 0.125rem;
                                grid-template-columns: repeat(7, 1fr);
                                background-color: $white;
                                margin: 0 -1.25rem;
                                padding-bottom: 0;
                                transition: padding-bottom 0.5s ease;
    
                                &.mod__in-transition {
                                    cursor: wait;
                                }

                                &.mod__expanded {
                                    padding-bottom: 1.25rem;
                                }
    
                                .condition-character-container {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    aspect-ratio: 1/1;
    
                                    .condition-character-btn {
                                        width: 2.5rem;
                                        aspect-ratio: 1/1;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 9999rem;
                                        cursor: default;
    
                                        span {
                                            line-height: 1.5rem;
                                            color: $gray-400;
    
                                            &::after {
                                                color: $primary-700;
                                                font-weight: 700;
                                                visibility: hidden;
                                            }
                                        }
    
                                        &.mod__has-available-conditions {
                                            cursor: pointer;
    
                                            &:hover {
                                                background-color: $blueish-green-200;
                                                transition: all 0.5s ease;
                                            }
        
                                            &.mod__selected {
                                                background-color: #E6EEF0;
            
                                                span {
                                                    color: $primary-700;
                                                    font-weight: 700;
                                                }
                                            }
        
                                            &.mod__in-transition {
                                                cursor: wait;
                                            }
    
                                            span {
                                                color: $gray;
                                            }
                                        }
                                    }
                                }
                            }
    
                            .condition-list-container {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                max-height: 0rem;
                                transition: all 0.5s ease;
                                opacity: 0;
    
                                &.mod__expanded {
                                    max-height: 12.5rem;
                                    opacity: 1;
                                }
    
                                &::before {
                                    content: "";
                                    width: 100%;
                                    height: 0;
                                    border: 0.0625rem solid $gray-200
                                }
    
                                .condition-character-header {
                                    padding: 1.25rem 0;
                                    font-size: 1.5rem;
                                    line-height: 1.5rem;
                                    letter-spacing: 0.75rem;
                                    font-weight: 700;
                                    color: $primary-700;
                                }
    
                                .condition-list {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    gap: 1rem;
                                    max-height: 10rem;
                                    overflow: auto;
                                    
                                    .condition-name-btn {
                                        &:hover {
                                            span {
                                                text-shadow: 0 0 4px $shadow;
                                            }
                                        }
    
                                        &.mod__selected {
                                            span {
                                                font-weight: 700;
                                            }
                                        }
    
                                        span {
                                            font-size: 1rem;
                                            line-height: 1.5rem;
                                            letter-spacing: 0.05rem;
                                            color: $gray;
                                            text-align: left;
                                            display: block;
    
                                            &::after {
                                                font-size: 700;
                                                visibility: hidden;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.featured-conditions-filter {
                            .condition-list-container {
                                width: 100%;
                                height: auto;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                transition: all 0.5s ease;
    
                                .condition-list {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    gap: 1rem;
                                    margin-top: 1.25rem;
                                    
                                    .condition-name-btn {
                                        &:hover {
                                            span {
                                                text-shadow: 0 0 4px $shadow;
                                            }
                                        }
    
                                        &.mod__selected {
                                            span {
                                                font-weight: 700;
                                            }
                                        }
    
                                        span {
                                            font-size: 1rem;
                                            line-height: 1.5rem;
                                            letter-spacing: 0.05rem;
                                            color: $gray;
                                            text-align: left;
                                            display: block;
    
                                            &::after {
                                                font-size: 700;
                                                visibility: hidden;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
    
                    .filter-container + .filter-container {
                        .header-container {
                            padding-top: 1.875rem;
                        }
    
                        &::before {
                            content: "";
                            width: 100%;
                            height: 0;
                            border: 0.0625rem solid $gray-200
                        }
                    }
                }
            }

            .main-container {
                flex: 4;
                display: flex;
                flex-direction: column;

                .desc-content-column {
                    background-color: $white;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    
                    .container-x {
                        height: unset;
                    }

                    .hero-banner-container {
                        height: 25rem;
                        width: 100%;
                        overflow: hidden;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .imi-section-header-component {
                        margin: 3.75rem 0 3.125rem 3.125rem;
                    }

                    .desc-list {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1.5rem;
                        margin: 0 0 3.875rem 3.125rem;

                        .desc {
                            font-size: 1.375rem;
                            line-height: 1.875rem;
                            letter-spacing: 0.06875rem;
                            font-family: $font-secondary;
                            font-weight: 500;
                            color: $gray-600;
                            text-align: left;
                        }
                    }
                }

                .detail-accordion-container {
                    background-color: $primary-200;
                    padding: 3.875rem 0 3.875rem 3.125rem;
                }

                .book-now {
                    background: transparent linear-gradient(180deg, $blueish-green 0%, #5692CD 100%) 0% 0% no-repeat padding-box;
                    width: 100%;
            
                    .imi-desc-section-component {
                        .imi-section-header-component{
                            color: $white;
                            text-align: center;
                        }
            
                        h5[class*='imi-desc-section-desc-'] {
                            color: $white;
                        }
                    }
            
                    .imi-btn-component {
                        margin: 3.75rem auto 0 auto;
                    }
                }
            }
        }
    }
}