@import '@/scss/abstracts';
@import '@/scss/base';

.section-label-component {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 700;
    letter-spacing: 0.075rem;
    font-family: $primary;
    color: $secondary-600;
    text-align: left;
}