@import '@/scss/abstracts';
@import '@/scss/base';

.breadcrumb-component {
    position: absolute;
    top: 1.875rem;
    width: 100%;

    .container-x {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    button {
        cursor: pointer;

        &:not(:last-child)::after {
            content: '•';
            display: inline-block;
            margin: 0 0.5rem;
            color: $gray;
        }

        &:hover:not(.mod__disabled) {
            span {
                color: $dark;
            }
        }

        span {
            font-size: 1rem;
            line-height: 1.25rem;
            letter-spacing: 0.05rem;
            color: $gray;
            font-family: $font-secondary;
        }
    }
}