@import '@/scss/abstracts';
@import '@/scss/base';

.gradient-banner {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 1.25rem;

    .gradient-banner-image-container {
        position: absolute;
        top: 0;
        overflow: hidden;
        height: 100%;

        /* From design file */
        width: 60%;

        &.mod__img-right {
            right: 0;
        }

        &.mod__img-left {
            left: 0;
        }

        @include media(mobile) {
            width: 100%;
            height: unset;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;

            @include media(tablet) {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .gradient-banner-background-container {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        height: 100%;

        &.mod__img-right {
            left: 0;

            &.color-primary {
                background: transparent linear-gradient(90deg, #34ABA4 30%, #d5dd99 50%,#F28C0000 100%) 0% 0% no-repeat padding-box;

                @include media(mobile) {
                    background: transparent
                        linear-gradient(
                            270deg,
                            #F28C0000 0%, 
                            #34ABA4 100%
                        )
                        0% 0% no-repeat padding-box;
                }
            }
        }

        &.mod__img-left {
            right: 0;

            &.color-primary {
                background: transparent linear-gradient(270deg, #34ABA4 0%, #34ABA4 42%, #d5dd99ac 65%, #F28C0000 100%) 0% 0% no-repeat padding-box;

                @include media(mobile) {
                    background: transparent
                        linear-gradient(
                            270deg,
                            #F28C0000 0%, 
                            #34ABA4 100%
                        )
                        0% 0% no-repeat padding-box;
                }
            }
        }
    }

    .gradient-banner-content-container {
        width: 45%;
        height: auto;
        position: relative;
        text-align: left;
        margin: 0;

        &.mod__img-right {
            margin-left: 0;
        }

        &.mod__img-left {
            margin-left: 55%;
            width: 40%;
        }

        @include media(mobile) {
            width: 100%;
            margin-top: 20rem;
        }

        .container-column {
            margin: 3.125rem 0 3.125rem 3.75rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .header-column {
                display: flex;
                flex-direction: column;
                margin: 0 0 1.5rem;

                .header {
                    font-weight: 700;
                    color: $white;
                    font-size: 2.8125rem;
                    line-height: 3.125rem;
                    letter-spacing: 0.1375rem;
                }

                .subheader {
                    color: $white;
                    line-height: 3.125rem;
                    letter-spacing: 0.09375rem;
                    font-weight: 500;
                }
            }


            .detail-column {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                .desc-text {
                    font-family: $font-secondary;
                    line-height: 1.375rem;
                    letter-spacing: 0.05625rem;
                    color: $white;
                }
            }

            .btn-component {
                margin-top: 3.125rem;
            }

            .swiper-component {
                width: 100%;

                .swiper-column {
                    width: auto;
                    padding: 0 2.5rem 3.625rem 2.5rem;
                    margin: 0;
                }

                .swiper-pagination {
                    right: unset;
                    left: 2.5rem;
                    top: calc(100% - 0.5rem);
                    height: 0.5rem;
                    width: auto;
                    transform: translateY(-0.5rem);
                }
            }
        }
    }
}
