@import '@/scss/main';

.container-x {
    overflow: auto hidden;
    max-width: min(100rem, 100vw - 3.75rem - 3.75rem);
    margin: 0 auto;
    padding: 0 3.75rem;
    text-align: center;
    height: 100%;

    &.mod__right-only {
        max-width: min(100rem + (100vw - 100rem) / 2, 100vw - 3.75rem);
        margin: 0 auto 0 0;
        padding: 0 3.75rem 0 0;
    }

    &.mod__left-only {
        max-width: min(100rem + (100vw - 100rem) / 2, 100vw - 3.75rem);
        margin: 0 0 0 auto;
        padding: 0 0 0 3.75rem;
    }

    @include media(tablet) {
        max-width: unset;
        width: 100%;
    }

    @include media(mobile) {
        max-width: unset;
        width: 100%;
        padding: 0 1.6rem;
        text-align: center;
    }
}
