$header-height: 8.75rem;
$transparent: 'transparent';
$dark: #000;
$dark-300: #262626;
$dark-400: #492a4f;
$white-300: #b9cde5;
$white: #fff;
$shadow: #00000029;
$primary: #00b4e3;
$primary-hover: #00a2cc;
$blue-200: #1459a833;
$blue-300: #ccf0f9;
$blue-400: #e6f8fc;
$blue-500: #e8eef6;
$blue-600: #437ab9;
$blue-700: #0090b6;
$blue-800: #1459a8;
$blue-900: #125097;
$dark-blue-700: #0e3e76;
$red-300: #ffa39e;
$red: #f00;
$red-500: #e60000;
$gray-200: #fafafa;
$gray-300: #f0f0f0;
$gray-400: #c7c7c7;
$gray: #666;
$gray-600: #999;
$gray-700: #8c8c8c;
$purple: #92539d;
$purple-200: #e9ddeb;
$purple-400: #f4eef5;
$purple-500: #c9a9ce;
$purple-700: #834b8d;
$purple-800: #663a6e;
$yellow-300: #fff9e6;
$yellow-400: #fffaea;
$yellow: #fbbf00;
$yellow-600: #f4d10d;
$yellow-700: #afd77e;
$yellow-800: #e2ac00;
$green-400: #f2f8ea;
$green-500: #d2e7d8;
$green-700: #308874;
$green-800: #1e873d;
$green-900: #1b7a37;
$lima: #79bd28;
$lima-200: #e4f2d4;
$lima-700: #6daa24;
$lima-800: #55841c;
$orange-200: #ffe6cf;
$orange-800: #ff8210;
$orange-900: #e6750e;
$cyan-200: #dcf9f3;
$cyan-800: #50e3c2;
$cyan-900: #48ccaf;
$a-tag-color: #4D99E6;

/* One side of container-x padding + margin */
$one-side-margin: calc((100vw - 93.75rem) / 2);
