$header-height: 8.75rem;
$transparent: transparent;
$dark: #000;
$dark-300: #262626;
$white: #fff;
$white-600: #ffffffde;
$shadow: #00000029;
$old-primary-100:#F3F9FA;
$old-primary-200:#F8FBFD;
$old-primary-300:#D9EEE6;
$old-primary-400:#80C1C6;
$old-primary:#00828C;
$old-primary-600:#00757E;
$old-primary-700:#005568;
$primary-100: #A0A0A1;
$primary-300: #3D3E42;
$primary-400: #ADADAD;
$primary: #34353A;
$primary-700: #30333A;
$secondary-200: #e5d4b6;
$secondary-400: #6A5A3E;
$secondary: #FEC86A;
$secondary-600: #EFBF6B;
$blueish-green-100: #F7FAFD;
$blueish-green-200: #EEF4FA;
$blueish-green-300: #EBF7F6;
$blueish-green-400: #71C4BF;
$blueish-green: #34ABA4;
$blueish-green-600: #5692CD;
$blueish-green-700: #007699;
$gray-100: #FCFCFC;
$gray-200: #DBDBDB;
$gray-300: #9B9C9D;
$gray-400: #c7c7c7;
$gray: #666;
$gray-600: #999;
$orange: #F28C00;
$orange-600: #d37b01;
$orange-700: #DA7E00;
$purple: #82368C;
$purple-700: #502057;

/* One side of container-x padding + margin */
$one-side-margin: calc((100vw - 93.75rem) / 2);
