$header-height: 8.75rem;
$transparent: transparent;
$dark: #000;
$dark-300: #262626;
$white-300: #b9cde5;
$white: #fff;
$white-600: #ffffffde;
$shadow: #00000029;
$primary-300:#D9EEE6;
$primary-400:#80C1C6;
$primary:#00828C;
$primary-600:#00757E;
$primary-700:#005568;
$gray: #666;
$gray-600: #999;
$orange: #F28C00;
$orange-600: #d37b01;

/* One side of container-x padding + margin */
$one-side-margin: calc((100vw - 93.75rem) / 2);
