@import '@/scss/abstracts';
@import '@/scss/base';

#components-page {
    .components-page-desc-section {
        background-color: $primary;
        height: 100vh;
        
        .section-header-component {
            color: $secondary;
        }

        .custom-bottom-component {
            display: flex;
            padding: 2.5rem 0;
            gap: 2.5rem;
            
            .scroll-section {
                width: 12.5rem;
                max-height: calc(100vh - 20.375rem);
                padding: 1.25rem;
                border-right: 0.0625rem solid $gray;
                text-align: left;
                overflow: hidden auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.25rem;

                .subsection-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.0625rem;
                    width: 100%;

                    .label-button {
                        padding: 0.0625rem;

                        .subsection-label {
                            font-size: 1.5rem;
                            line-height: 2rem;
                            color: $primary-100;
                            font-weight: 500;
                        }

                        .component-label {
                            font-size: 1.25rem;
                            line-height: 1.5rem;
                            color: $primary-100;
                            text-wrap: pretty;
                        
                            &:hover {
                                color: $secondary-400;
                            }

                        }

                        &.mod__active {
                            .component-label {
                                color: $secondary;
                            }
                        }
                    }

                    .subsection-content-container {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;
                        padding-left: 0.875rem;
                    }
                }
            }

            .content-section {
                flex: 1;
                background-color: $white;
                border-radius: 1.25rem;
                overflow: hidden;
            }
        }
    }
}