@import '@/scss/abstracts';
@import '@/scss/base';

#our-healing-vision-page {
    position: relative;

    .desc-section {
        .imi-section-header-component {
            max-width: 62.5rem;
            margin: 0 auto;
        }

        .custom-bottom-component {
            width: 100%;
            display: flex;
            align-items: flex-start;
            gap: 7.5rem;

            .healing-vision-image-container {
                min-height: 37.5rem;
                min-width: 37.5rem;
                overflow: hidden;

                svg {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .content-container {
                flex: 1;
                overflow-x: hidden;

                .swiper-container {
                    position: relative;
                    width: inherit;
                    overflow-x: scroll;
                    display: flex;
                    align-items: center;
                    gap: 1.875rem;
             
                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .imi-btn-component {
                        padding: 0.5rem 1.25rem;
                        border-radius: 9999rem;
                        background-color: $transparent;

                        &.mod__active {
                            background-color: $orange;
                        }

                        .imi-btn-desc {
                            font-size: 1.5rem;
                            line-height: 1.875rem;
                            font-family: $font-secondary;
                            font-weight: 500;
                            letter-spacing: 0.075rem;
                            color: $gray-600;

                            &.mod__active {
                                color: $white;
                            }
                        }
                    }

                }

                .imi-swiper-component {
                    width: inherit;

                    .swiper-slide {
                        width: fit-content;
                    }

                }

                .detail-container {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 3.75rem;

                    .tab-content-header {
                        margin-bottom: 2.5rem;
                        line-height: 2.125rem;
                        letter-spacing: 0.0875rem;
                        font-weight: 700;
                        text-align: left;
                    }

                    .desc-list {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1.5rem;

                        .detail-desc {
                            font-size: 1.25rem;
                            line-height: 1.625rem;
                            letter-spacing: 0.0625rem;
                            font-family: $font-secondary;
                            font-weight: 500;
                            color: $gray-600;
                            text-align: left;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
