@import '@/scss/abstracts';
@import '@/scss/base';

.btn-component {
    border-radius: 9999rem;
    height: 2.8125rem;
    width: 11.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease-in;

    &.size-padding {
        height: unset;
        width: fit-content;
        padding: 1rem 2.5rem;
    }

    &.type-solid {
        &.color-primary {
            background-color: $secondary;

            &:hover:not(:disabled) {
                background-color: $secondary-600;
            }
        }
    }

    &.type-outline {
        border-width: 0.125rem;
        border-style: solid;
        background-color: $transparent;
        border-color: $secondary;

        &:hover:not(:disabled) {
            background-color: $secondary;
        }
    }

    &.type-round {
        width: unset;
        aspect-ratio: 1/1;
        border-radius: 9999rem;
        border-style: solid;
        background-color: $transparent;
        border-color: $secondary;

        &:hover:not(:disabled) {
            background-color: $secondary;
            border-color: $white;
        }
    }

    &.type-text {
        height: unset;
        width: unset;
    }

    &.type-rectangle {
        border-radius: 0.625rem;
        height: unset;
        width: unset;
        background-color: $secondary;
        padding: 1.25rem;
    }

    &.type-outline-rectangle {
        border-radius: 0.625rem;
        height: unset;
        width: unset;
        border: 0.25rem solid $secondary;
        padding: 1.25rem;

        &:hover:not(:disabled) {
            background-color: $secondary;
        }
    }
}

.btn-desc {
    font-family: $font-secondary;
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    transition: all 0.15s ease-in;

    &.type-solid {
        letter-spacing: 0.0625rem;

        &.color-primary, 
        &.color-blueish-green {
            color: $white;
        }

        &.color-orange {
            color: $blueish-green-700;

            &.mod__hover-blueish-green {
                :hover:not(:disabled) > & {
                    color: $white;
                }
            }
        }

    }

    &.type-outline {
        letter-spacing: 0.1125rem;
        color: $secondary;

        :hover:not(:disabled) > & {
            color: $white;
        }

        &.type-round {
            color: $dark;

            :hover:not(:disabled) > & {
                color: $white;
            }
        }
    }

    &.type-round {
        letter-spacing: 0.0625rem;
        color: $secondary;

        :hover:not(:disabled) > & {
            color: $white;
        }
    }

    &.type-text {
        text-decoration: underline;
        color: $blueish-green-700;
    }

    &.type-rectangle {
        color: $white-400;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: $font-secondary;
    }

    &.type-outline-rectangle {
        color: $secondary;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: $font-secondary;

        :hover:not(:disabled) > & {
            color: $primary;
        }
    }
}
