@import '@/scss/abstracts';
@import '@/scss/base';

.image-text-section {
    &.mod__bg-white {
        background-color: $white;
    }

    &.mod__bg-blueish-green {
        background-color: $old-primary-200;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: row;

        &.mod__reversed {
            flex-direction: row-reverse;
        }

        .content-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 3.75rem;
            padding-right: 6.25rem;

            .header {
                line-height: 2.625rem;
                letter-spacing: 0.09375rem;
                font-weight: 700;
                color: $gray;
            }

            .desc-container {
                .desc {
                    line-height: 1.875rem;
                    font-family: $font-secondary;
                    letter-spacing: 0.06875rem;
                    color: $gray-600;
                    text-align: left;
                    font-weight: 500;
                }

                .desc + .desc {
                    margin-top: 1.5rem;
                }
            }
        }

        .image-container {
            flex: 1;
            height: 31.25rem;
            border-radius: 1.25rem;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

}