@import '@/scss/abstracts';
@import '@/scss/base';

#article-page {
    position: relative;

    .detail-section {
        width: 100%;

        .section-container-y {
            width: 100%;
        }

        .imi-desc-section-component {
            .imi-desc-section-hero-image {
                height: 37.5rem;

                img {
                    height: unset;
                }
            }

            .imi-desc-section-content {
                margin-top: 3.75rem;

                .imi-section-header-component{
                    text-align: left;
                    margin-bottom: 3.75rem;
                }
            }

            .article-content-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.5rem;

                .article-content-desc {
                    font-size: 1.375rem;
                    line-height: 1.875rem;
                    letter-spacing: 0.06875rem;
                    font-family: $font-secondary;
                    color: $gray-600;
                    text-align: left;
                }
            }
        }
    }
}