@import '@/scss/abstracts';
@import '@/scss/base';

.imi-btn-component {
    border-radius: 9999rem;
    height: 2.8125rem;
    width: 11.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &.type-solid {
        &.color-primary {
            background-color: $primary;

            &:hover {
                background-color: $primary-700;
            }
        }
    }

    &.type-outline {
        border-width: 0.125rem;
        border-style: solid;
        background-color: transparent;

        &.color-primary {
            border-color: $primary;

            &:hover {
                background-color: $primary;
            }
        }
    }
}

.imi-btn-desc {
    font-family: $font-secondary;
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0.05rem;
    font-weight: 700;

    &.type-solid {
        letter-spacing: 0.0625rem;

        &.color-primary {
            color: $white;
        }
    }

    &.type-outline {
        letter-spacing: 0.1125rem;

        &.color-primary {
            color: $primary;

            :hover > & {
                color: $white;
            }
        }

        &.type-outline {
            letter-spacing: 0.1125rem;

            &.color-primary {
                color: $primary;

                :hover > & {
                    color: $white;
                }
            }
        }

        &.type-round {
            letter-spacing: 0.0625rem;
            color: $dark;

            :hover > & {
                color: $white;
            }
        }
    }
}
