@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'abstracts';
@import 'base';
@import 'layouts';

html {
    font-size: 16px;

    @include media(desktop) {
        font-size: 14px;
    }

    @include media(small-screen) {
        font-size: 12px;
    }

    @include media(mobile, tablet) {
        font-size: 10px;
    }
}

#root {
    white-space: pre-line;
}