@import '@/scss/abstracts';
@import '@/scss/base';

.slider-component {
    padding: 0.75rem;

    .rc-slider-rail {
        height: 0.25rem;
        background-color: $primary-300;
    }

    .rc-slider-track {
        height: 0.25rem;
        background-color: $primary;
    }

    .rc-slider-handle {
        width: 1.25rem;
        height: 1.25rem;
        background-color: $blueish-green;
        border: 0.125rem solid $white;
        margin-top: calc(-0.625rem + 0.125rem);
        opacity: 1;

        &.rc-slider-handle-dragging {
            box-shadow: 0 0 0 0.125rem $blueish-green-400;
        }
    }
}