@import '@/scss/abstracts';
@import '@/scss/base';

#lab-test-page {
    position: relative;

    .lab-test-page-desc-section {
        .custom-bottom-component {
            margin-top: 5rem;
            
            .card-cluster {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: min-content 0fr;
                transition: grid-template-rows 0.4s ease;

                &.mod__is-expanded {
                    grid-template-rows: min-content 1fr;
                }

                &:not(.first-cluster) {
                    margin-top: 1.875rem;
                }
                
                .card-row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 1.875rem;

                    .lab-test-card-component {
                        flex: 1;
                        margin: 0.375rem;

                        .imi-card-component {
                            display: flex;
                        }

                        .card-column {
                            flex: 1;
                            padding: 2.5rem 3.75rem;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                            .card-header-container {
                                flex: 1;
                                margin: 0 0 1.875rem;
                                text-align: left;

                                .card-header {
                                    line-height: 1.5rem;
                                    letter-spacing: 0.05625rem;
                                    color: $gray;
                                    font-weight: 700;
                                }
                            }

                            .card-desc-container {
                                margin: 0;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 1rem;

                                .card-desc-icon-container {
                                    height: 0.875rem;
                                    width: 0.875rem;
                                    overflow: hidden;

                                    .card-desc-icon {
                                        height: 100%;
                                        width: 100%;
                                        object-fit: cover;
                                    }
                                }

                                .card-desc {
                                    font-size: 1rem;
                                    line-height: 1.375rem;
                                    letter-spacing: 0.05rem;
                                    font-family: $font-secondary;
                                    color: $gray-600;
                                    text-align: left;
                                }
                            }
                            
                            .card-desc-container + .card-desc-container {
                                margin-top: 1.25rem;
                            }

                            .dropdown-icon-container {
                                height: 1.875rem;
                                width: 1.875rem;
                                overflow: hidden;
                                margin: 1.875rem 0 0;
                                transition: transform 0.4s ease-out;

                                &.mod__is-active {
                                    transform: rotate(3.142rad);
                                }

                                .dropdown-icon {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }

                .detail-container {
                    width: 100%;
                    overflow: hidden;
                    opacity: 0;
                    transition: all 0.4s ease;
                    visibility: hidden;

                    &.mod__is-expanded {
                        opacity: 1;
                        visibility: visible;
                    }

                    &:last-child {
                        .lab-test-detail-card-component {
                            margin: 1rem 0.375rem 0 0.375rem;
                        }
                    }

                    .lab-test-detail-card-component {
                        margin: 1rem 0.375rem 1.875rem 0.375rem;

                        .desc-column {
                            padding: 3.125rem 3.75rem;
                            width: calc(100% - 7.5rem);
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 1.5rem;
                            background-color: $blueish-green-300;

                            span {
                                color: $gray;
                                text-align: left;

                                a {
                                    text-decoration: underline;
                                    text-underline-offset: 0.25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}